apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: flaskapp

spec:
  type: NodePort
  selector:
    app: flaskapp
  ports:
    - port: 5000
      protocol: TCP
      targetPort: 5000
      nodePort: 31050
