apiVersion: apps/v1
kind: Deployment
metadata:
  name: flakapp
  namespace: flaskapp
  labels:
    app: flaskapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flaskapp
  template:
    metadata:
      labels:
        app: flaskapp
    
    spec:
      containers:
        - name: flaskapp
          image: mypythonapp:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5000
          env:
            - name: MYSQL_HOST
              value: mysql
            - name: MYSQL_USER
              value: root
            - name: MYSQL_PASSWORD
              value: admin
            - name: MYSQL_DB
              value: mydb
