apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  namespace: flaskapp

spec:
  type: NodePort
  selector:
    app: mysql
  ports:
    - port: 3306
      protocol: TCP
      targetPort: 3306
      nodePort: 31051
