apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  namespace: flaskapp
  labels:
    app: mysql

spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  hostPath:
    path: /mnt/mysql-data
